In [26]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('datasets/bosch/bosch.gz', compression='gzip', header=0, sep=',')

In [27]:
df.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [28]:
df.shape

(1183747, 970)

In [29]:
failures = df.loc[df['Response'] == 1]

In [31]:
failures.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
539,1053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
633,1250,0.075,0.101,-0.179,-0.216,-0.013,0.070,-0.022,-0.152,0.087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
681,1350,0.069,0.041,0.330,0.330,-0.100,-0.294,0.008,0.088,-0.092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
887,1793,0.003,-0.026,0.330,0.294,0.074,0.161,0.022,0.128,-0.199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1152,2347,-0.114,-0.161,0.330,0.330,-0.013,0.116,0.045,0.288,0.036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [32]:
r, c = failures.shape
print((r, c))

(6879, 970)

In [33]:
factor = 1
goods = df.loc[df['Response'] == 0].sample(n=r * factor)

In [34]:
goods.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
520533,1041728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0
407471,815501,0.043,0.026,0.003,-0.052,0.031,0.116,-0.015,-0.032,0.005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
836490,1672876,0.206,0.190,0.003,-0.034,0.161,0.025,-0.037,-0.152,-0.179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
32708,65525,0.069,0.093,0.312,0.312,-0.100,0.025,0.008,0.008,-0.077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
584292,1169619,-0.088,-0.078,-0.161,-0.179,0.074,-0.066,0.008,0.008,-0.199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [35]:
goods.shape

(6879, 970)

In [36]:
merged_df = pd.concat([goods, failures], ignore_index=True)

In [37]:
merged_df.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,1041728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0
1,815501,0.043,0.026,0.003,-0.052,0.031,0.116,-0.015,-0.032,0.005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,1672876,0.206,0.190,0.003,-0.034,0.161,0.025,-0.037,-0.152,-0.179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,65525,0.069,0.093,0.312,0.312,-0.100,0.025,0.008,0.008,-0.077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1169619,-0.088,-0.078,-0.161,-0.179,0.074,-0.066,0.008,0.008,-0.199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [38]:
merged_df.shape

(13758, 970)

In [39]:
merged_df.to_csv('datasets/bosch/bosch-less.data', index=False, sep=';')